/*
* @Author: dell
* @Date:   2017-04-07 19:04:33
* @Last Modified by:   dell
* @Last Modified time: 2017-04-10 16:03:02
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0.1rem;
}
a{
	display: block;
	text-decoration: none;
	color: black;
}
img{
	display: block;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	overflow: scroll;
}
/* 头部开始 */
.head{
	width: 100%;
	height: 1.3rem;
	background: #007BE3;
	align-items: center;
	display: flex;
	padding: 0 0.2rem;
	z-index: 100;
	position:absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	overflow: hidden;
}
.head .con{
	width: 92%;
	height: 1.3rem;
	margin: 0 auto;
}
.head .con li{
	margin-right: 1.25rem;
	font-size: 0.44rem;
	font-weight: 600;
	color: white;
	text-align: center;
	line-height: 1.3rem;
	float: left;
}
.head .con li:nth-child(5){
	margin-right: 0;
}
/* 头部结束 */
/* banner开始 */
.img{
	width: 100%;
	height: 7.3rem;
	background: url('../img/下载1.png') 0 0 no-repeat;
	background-size: cover;
}
.img .zi{
	width: 3rem;
	height: 0.8rem;
	background: url('../img/下载2.png') 0 0 no-repeat;
	background-size: cover;
	position: relative;
	top: 5.9rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 0.38rem;
	text-align: center;
	line-height: 0.8rem;
	font-weight: 500;
	color: white;
}

/* banner结束 */

/* 01开始 */
.one{
	width: 100%;
	height: 8.35rem;
	background: #F5F6FA;
}
.one .ti{
	width: 100%;
	height: 2.1rem;
	background: white;
	box-shadow: 0 0.04rem 0.4rem rgba(0, 0, 0, 0.5);
	position: relative;
	text-align: center;
	line-height: 2.1rem;
}
.one .ti h1{
	font-size: 0.54rem;
	font-weight: 900;
	color: black;
	position: absolute;
	top: 0.1rem;
	left: 4rem;
}
.one .ti h1 span{
	font-size: 0.5rem;
	color: black;
	font-weight: 500;
}
.one .ti .tu1{
	width: 0.9rem;
	height: 0.9rem;
	background: url('../img/01.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 0.7rem;
	left: 2.8rem;
}
.one .ti .tu2{
	width: 1.6rem;
	height: 1.3rem;
	background: url('../img/titleL.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.4rem;
	left: 3.3rem;
}
.one .ti .tu3{
	width: 1.7rem;
	height: 0.2rem;
	background: url('../img/titleR.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.5rem;
	left: 6rem;
}
.one .box1{
	width: 92%;
	height: 5.75rem;
	border: 0.04rem solid #1BBF99;	
	border-top: 0;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.one .box2{
	width: 92%;
	height: 5.65rem;
	margin: 0 auto;
	border: 0.04rem solid #1BBF99;
	border-top: 0;
	position: relative;
	top: -5.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.one .box3{
	width: 92%;
	height: 4.6rem;
	margin: 0 auto;
	border: 0.04rem solid #1BBF99;
	border-top: 0;
	position: relative;
	top: -11.4rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-top: 0.9rem;
	line-height: 0.5rem;
}
.one .box3 p{
	font-size: 0.34rem;
	margin-left: 0.55rem;
	margin-bottom: 0.45rem;
}
/* 01结束 */

/* 02开始 */
.liu{
	width: 100%;
	height: 10.34rem;
	background: #F5F6FA;
}
.liu .ti{
	width: 100%;
	height: 2.1rem;
	background: white;
	box-shadow: 0 0.04rem 0.4rem rgba(0, 0, 0, 0.5);
	position: relative;
	text-align: center;
	line-height: 2.1rem;
	margin-bottom: 0.35rem;
}
.liu .ti h1{
	font-size: 0.54rem;
	font-weight: 900;
	color: black;
	position: absolute;
	top: 0.1rem;
	left: 3.2rem;
}
.liu .ti h1 span{
	font-size: 0.5rem;
	color: black;
	font-weight: 500;
}
.liu .ti .tu1{
	width: 0.9rem;
	height: 0.9rem;
	background: url('../img/02.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 0.7rem;
	left: 2rem;
}
.liu .ti .tu2{
	width: 1.6rem;
	height: 1.3rem;
	background: url('../img/titleL.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.4rem;
	left: 2.5rem;
}
.liu .ti .tu3{
	width: 1.7rem;
	height: 0.2rem;
	background: url('../img/titleR.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.5rem;
	left: 6.5rem;
}
.liu ul{
	display: flex;
	flex-wrap: wrap;
}
.liu li{
	width: 3.05rem;
	height: 3.6rem;
	margin-left: 0.28rem;
	margin-bottom: 0.37rem;
}
.liu li:nth-child(1){
	margin-left: 0.5rem;
}
.liu li:nth-child(4){
	margin-left: 0.5rem;
}
.liu li .top1{
	width: 100%;
	height: 1.44rem;
	background: url('../img/fwtx1.png') 0 0 no-repeat;
	background-size: contain;
	line-height: 1.44rem;
	text-align: center;
}
.liu li .top1 p{
	color: white;
	font-size: 0.38rem;
	margin-left: 0.8rem;
	font-weight: 600;
}
.liu li .di1{
	width: 98%;
	height: 1.65rem;
	margin-top: 0.05rem;
	border: 1px dashed #F2A111;
	text-align: center;
	padding-top: 0.35rem;
}
.liu li p{
	font-size: 0.38rem;
	color: #5C5C5D;
}
.liu li .top2{
	width: 100%;
	height: 1.44rem;
	background: url('../img/fwtx2.png') 0 0 no-repeat;
	background-size: contain;
	line-height: 1.44rem;
	text-align: center;
}
.liu li .top2 p{
	color: white;
	font-size: 0.38rem;
	margin-left: 0.8rem;
	font-weight: 600;
}
.liu li .di2{
	width: 98%;
	height: 1.65rem;
	margin-top: 0.05rem;
	border: 1px dashed #2F90DA;
	text-align: center;
	padding-top: 0.35rem;
}
.liu li .top3{
	width: 100%;
	height: 1.44rem;
	background: url('../img/fwtx3.png') 0 0 no-repeat;
	background-size: contain;
	line-height: 1.44rem;
	text-align: center;
}
.liu li .top3 p{
	color: white;
	font-size: 0.38rem;
	margin-left: 0.8rem;
	font-weight: 600;
}
.liu li .di3{
	width: 98%;
	height: 1.65rem;
	margin-top: 0.05rem;
	border: 1px dashed #F87844;
	text-align: center;
	padding-top: 0.35rem;
}
.liu li .top4{
	width: 100%;
	height: 1.44rem;
	background: url('../img/fwtx4.png') 0 0 no-repeat;
	background-size: contain;
	line-height: 1.44rem;
	text-align: center;
}
.liu li .top4 p{
	color: white;
	font-size: 0.38rem;
	margin-left: 0.8rem;
	font-weight: 600;
}
.liu li .di4{
	width: 98%;
	height: 1.65rem;
	margin-top: 0.05rem;
	border: 1px dashed #1BBF99;
	text-align: center;
	padding-top: 0.35rem;
}
.liu li .top5{
	width: 100%;
	height: 1.44rem;
	background: url('../img/fwtx5.png') 0 0 no-repeat;
	background-size: contain;
	line-height: 1.44rem;
	text-align: center;
}
.liu li .top5 p{
	color: white;
	font-size: 0.38rem;
	margin-left: 0.8rem;
	font-weight: 600;
}
.liu li .di5{
	width: 98%;
	height: 1.65rem;
	margin-top: 0.05rem;
	border: 1px dashed #F8CE68;
	text-align: center;
	padding-top: 0.35rem;
}
.liu li .top6{
	width: 100%;
	height: 1.44rem;
	background: url('../img/fwtx6.png') 0 0 no-repeat;
	background-size: contain;
	line-height: 1.44rem;
	text-align: center;
}
.liu li .top6 p{
	color: white;
	font-size: 0.38rem;
	margin-left: 0.8rem;
	font-weight: 600;
}
.liu li .di6{
	width: 98%;
	height: 1.65rem;
	margin-top: 0.05rem;
	border: 1px dashed #C16BBB;
	text-align: center;
	padding-top: 0.35rem;
}
/* 02结束 */

/* 03开始 */
.three{
	width: 100%;
	height: 14.04rem;
	background: #1B1D32;
}
.three .ti{
	width: 100%;
	height: 2.1rem;
	background: white;
	position: relative;
	text-align: center;
	line-height: 2.1rem;
	margin-bottom: 0.35rem;
}
.three .ti h1{
	font-size: 0.54rem;
	font-weight: 900;
	color: black;
	position: absolute;
	top: 0.1rem;
	left: 4.58rem;
}
.three .ti h1 span{
	font-size: 0.5rem;
	color: black;
	font-weight: 500;
}
.three .ti .tu1{
	width: 0.9rem;
	height: 0.9rem;
	background: url('../img/03.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 0.7rem;
	left: 3rem;
}
.three .ti .tu2{
	width: 1.6rem;
	height: 1.3rem;
	background: url('../img/titleL.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.4rem;
	left: 3.3rem;
}
.three .ti .tu3{
	width: 1.7rem;
	height: 0.2rem;
	background: url('../img/titleR.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.5rem;
	left: 6.3rem;
}
.three .mu{
	width: 100%;
	height: 2rem;
	line-height: 1.6rem;
	text-align: center;
	position: relative;
	background: #1B1D32;
}
.three .mu h1{
	font-size: 0.45rem;
	color: #00C298;
}
.three .mu .shi{
	width: 5.4rem;
	height: 0.02rem;
	background: white;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
	top: 1.3rem;
}
.three .mu .xv{
	width: 5.4rem;
	height: 0.02rem;
	background: white;
	border-bottom: 0.02rem dashed white;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 1.4rem;
	background: #1B1D32;
	text-indent: 
}
.three .con{
	width: 93%;
	height: 6.45rem;
	margin: 0 auto;
	margin-top: 0.4rem;
}
.three .left{
	width: auto;
	height: auto;
	float: left;
}
.three .con .left .top{
	width: 4.85rem;
	height: 4.13rem;
	border: 1px solid white;
}
.three .con .left .di{
	width: 4.85rem;
	height: 1.87rem;
	border: 1px solid white;
	border-top: 0;
	text-align: center;
	line-height: 0.5rem;
	padding-top: 0.3rem;
}
.three .con .left .top h1{
	color: white;
	font-size: 0.4rem;
	font-weight: 700;
	margin-left: 0.4rem;
	margin-top: 0.38rem;
}
.three .con .left .top span{
	color: #C4583F;
	font-size: 0.45rem;
}
.three .con .left .top .tu{
	width: 98%;
	height: 3.24rem;
	margin: 0 auto;
	background: url('../img/bfb1.png') 0 0 no-repeat;
	background-size: contain;
	margin-top: 0.1rem;
}
.three .con .left .di p{
	color: white;
	font-size: 0.36rem;
	font-weight: 500;
}
.three .right{
	width: auto;
	height: auto;
	float: right;
}
.three .con .right .top{
	width: 4.80rem;
	height: 4.13rem;
	border: 1px solid white;
}
.three .con .right .di{
	width: 4.80rem;
	height: 1.87rem;
	border: 1px solid white;
	border-top: 0;
	text-align: center;
	line-height: 0.5rem;
	padding-top: 0.3rem;
}
.three .con .right .top h1{
	color: white;
	font-size: 0.4rem;
	font-weight: 700;
	margin-left: 0.4rem;
	margin-top: 0.38rem;
}
.three .con .right .top span{
	color: #C4583F;
	font-size: 0.45rem;
}
.three .con .right .top .tu{
	width: 98%;
	height: 3.24rem;
	margin: 0 auto;
	background: url('../img/bfb2.png') 0 0 no-repeat;
	background-size: contain;
	margin-top: 0.1rem;
}
.three .con .right .di p{
	color: white;
	font-size: 0.36rem;
	font-weight: 500;
}
.three button{
	width: 4.35rem;
	height: 1.17rem;
	background: url('../img/btn.png') 0 0 no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: 0.6rem;
	border: 0;
	margin-left: 3.3rem;
	font-size: 0.4rem;
	color: white;
}
/* 03结束 */

/* 04开始 */
.four{
	width: 100%;
	height: 10.82rem;
	background: #F5F6FA;
}
.four .ti{
	width: 100%;
	height: 2.1rem;
	background: white;
	position: relative;
	text-align: center;
	line-height: 2.1rem;
	margin-bottom: 0.35rem;
}
.four .ti h1{
	font-size: 0.54rem;
	font-weight: 900;
	color: black;
	position: absolute;
	top: 0.1rem;
	left: 4.48rem;
}
.four .ti h1 span{
	font-size: 0.5rem;
	color: black;
	font-weight: 500;
}
.four .ti .tu1{
	width: 0.9rem;
	height: 0.9rem;
	background: url('../img/04.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 0.7rem;
	left: 3rem;
}
.four .ti .tu2{
	width: 1.6rem;
	height: 1.3rem;
	background: url('../img/titleL.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.4rem;
	left: 3.3rem;
}
.four .ti .tu3{
	width: 1.7rem;
	height: 0.2rem;
	background: url('../img/titleR.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.5rem;
	left: 6.3rem;
}
.four .biao{
	width: 90%;
	height: 5.95rem;
	margin: 0 auto;
	margin-top: 0.8rem;
	position: relative;
	top: 0rem;
}
.four .name{
	width: 1.9rem;
	height: 0.9rem;
	background: #40ABFD;
	border-radius: 0.2rem 0.2rem 0 0;
	float: left;
	text-align: center;
	font-size: 0.4rem;
	line-height: 0.9rem;
	color: white;
}
.four .xin{
	width: 2.6rem;
	height: 0.9rem;
	background: #219EFF;
	border-radius:0.2rem 0.2rem 0 0;
	float: left;
	text-align: center;
	font-size: 0.4rem;
	line-height: 0.9rem;
	color: white;
}
.four .qi{
	width: 9.7rem;
	height: 0.9rem;
	background: #118DED;
	border-radius:0.2rem 0.2rem 0 0;
	text-align: center;
	font-size: 0.4rem;
	line-height: 0.9rem;
	color: white;
}
.four .shu{
	width: 99%;
	height: 5rem;
	border: 1px solid #1875FF;
	padding-top: 0.1rem;
	position: relative;
	top: 0rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.four .shu ul{
	width: 100%;
	height: 100%;
}
.four .shu li{
	width: 100%;
	height: 20%;
	background: #EEEEEE;
	line-height:0.4rem;
}
.four .shu p{
	width: 1.9rem;
	height: 0.9rem;
	font-size: 0.38rem;
	float: left;
	text-align: center;
	line-height: 0.9rem;
}
.four .shu span{
	width: 2.6rem;
	height: 0.9rem;
	font-size: 0.4rem;
	float: left;
	text-align: center;
	color: #feaf34;
	font-weight: 600;
	line-height: 0.9rem;
}
.four .shu .chang{
	width: 4.8rem;
	height: 0.9rem;
	float: left;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 0.9rem;
}
.four .shu .w{
	background: #F5F6FA;
}
.four button{
	width: 4.35rem;
	height: 1.17rem;
	background: url('../img/btn.png') 0 0 no-repeat;
	background-size: cover;
	margin: 0 auto;
	border: 0;
	margin-left: 3.3rem;
	font-size: 0.4rem;
	color: white;
	position: relative;
	top: 0.5rem;
}
/* 04结束 */

/* 05开始 */
.five{
	width: 100%;
	height: 16.5rem;
	background: #1B1D32;
}
.five .ti{
	width: 100%;
	height: 2.1rem;
	background: white;
	position: relative;
	text-align: center;
	line-height: 2.1rem;
	margin-bottom: 0.35rem;
}
.five .ti h1{
	font-size: 0.54rem;
	font-weight: 900;
	color: black;
	position: absolute;
	top: 0.1rem;
	left: 4rem;
}
.five .ti h1 span{
	font-size: 0.5rem;
	color: black;
	font-weight: 500;
}
.five .ti .tu1{
	width: 0.9rem;
	height: 0.9rem;
	background: url('../img/05.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 0.7rem;
	left: 2.5rem;
}
.five .ti .tu2{
	width: 1.6rem;
	height: 1.3rem;
	background: url('../img/titleL.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.4rem;
	left: 3rem;
}
.five .ti .tu3{
	width: 1.7rem;
	height: 0.2rem;
	background: url('../img/titleR.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.5rem;
	left: 7rem;
}
.five .con{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.five .con .line{
	width: 0.05rem;
	height: 10rem;
	background: #FFD300;
	position: relative;
	top: 1rem;
	left: 0.5rem;
}
.five .con .shu li{
	width: 0.64rem;
	height: 0.64rem;
	border: 0.1rem solid #FFD300;
	margin-bottom: 1rem;
	background: #1B1D32;
	text-align: center;
	line-height: 0.64rem;
	font-size: 0.45rem;
	color: white;
}
.five .con .shu li:nth-child(1){
	position: relative;
	top: -9rem;
	left: 0.15rem;
}
.five .con .shu li:nth-child(2){
	position: relative;
	top: -9rem;
	left: 0.15rem;
	border: 0.1rem solid #DD534E;
}
.five .con .shu li:nth-child(3){
	position: relative;
	top: -8.5rem;
	left: 0.15rem;
	border: 0.1rem solid #87BF7F;
}
.five .con .shu li:nth-child(4){
	position: relative;
	top: -8rem;
	left: 0.15rem;
	border: 0.1rem solid #1FA4DB;
}
.five .con .shu li:nth-child(5){
	position: relative;
	top: -7.8rem;
	left: 0.15rem;
	border: 0.1rem solid #F6CE64;
}
.five .con .shu li:nth-child(6){
	position: relative;
	top: -8rem;
	left: 0.15rem;
	border: 0.1rem solid #A86BAA;
}
.five .con .zi li{
	width: 8.4rem;
	height: 0.8rem;
	border-bottom: 0.05rem dashed #FFD300;
	position: relative;
	color:#FFD300 ;
	top: -20rem;
	right: -1.4rem;
	font-size: 0.4rem;
	line-height: 0.8rem;
	font-weight: 600;
}
.five .con .zi li:nth-child(2){
	position: relative;
	top: -18.8rem;
	border-bottom: 0.05rem dashed #DD534E;
	color: #DD534E;
}
.five .con .zi li:nth-child(3){
	position: relative;
	top: -17.5rem;
	border-bottom: 0.05rem dashed #87BF7F;
	color: #87BF7F;
}
.five .con .zi li:nth-child(4){
	position: relative;
	top: -16rem;
	border-bottom: 0.05rem dashed #1FA4DB;
	color: #1FA4DB;
}
.five .con .zi li:nth-child(5){
	position: relative;
	top: -15rem;
	border-bottom: 0.05rem dashed #F6CE64;
	color: #F6CE64;
}
.five .con .zi li:nth-child(6){
	position: relative;
	top: -14rem;
	border-bottom: 0.05rem dashed #A86BAA;
	color: #A86BAA;
}
.five .con .zi1 li{
	width: 8.4rem;
	height: auto;
	color: white;
	position: relative;
	top: -24rem;
	right: -1.4rem;
	font-size: 0.34rem;
}
.five .con .zi1 li:nth-child(2){
	position: relative;
	top: -22.8rem;
}
.five .con .zi1 li:nth-child(3){
	position: relative;
	top: -21.8rem;
}
.five .con .zi1 li:nth-child(4){
	position: relative;
	top: -20.8rem;
}
.five .con .zi1 li:nth-child(5){
	position: relative;
	top: -19.4rem;
}
.five .con .zi1 li:nth-child(6){
	position: relative;
	top: -18rem;
}
/* 05结束 */

/* 06开始 */
.six{
	width: 100%;
	height: 10.16rem;
	background: #F5F6FA;
	position: relative;
}
.six .ti{
	width: 100%;
	height: 2.1rem;
	background: white;
	position: relative;
	text-align: center;
	line-height: 2.1rem;
	margin-bottom: 0.35rem;
}
.six .ti h1{
	font-size: 0.54rem;
	font-weight: 900;
	color: black;
	position: absolute;
	top: 0.1rem;
	left: 4rem;
}
.six .ti h1 span{
	font-size: 0.5rem;
	color: black;
	font-weight: 500;
}
.six .ti .tu1{
	width: 0.9rem;
	height: 0.9rem;
	background: url('../img/06.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.7rem;
	left: 2.5rem;
}
.six .ti .tu2{
	width: 1.6rem;
	height: 1.3rem;
	background: url('../img/titleL.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.4rem;
	left: 3rem;
}
.six .ti .tu3{
	width: 1.7rem;
	height: 0.2rem;
	background: url('../img/titleR.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.5rem;
	left: 7rem;
}
.six .box1{
	width: 3.6rem;
	height: 1.5rem;
	background: url('../img/phpzw1.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 3rem;
	left: 1.8rem;
}
.six .box2{
	width: 4rem;
	height: 1.5rem;
	background: url('../img/phpzw2.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 3rem;
	right: 1.1rem;
}
.six .box3{
	width: 4rem;
	height: 1.5rem;
	background: url('../img/phpzw3.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 4.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.six .box4{
	width: 4rem;
	height: 1.5rem;
	background: url('../img/phpzw4.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 6rem;
	left: 1.4rem;
}
.six .box5{
	width: 4rem;
	height: 1.5rem;
	background: url('../img/phpzw5.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 6rem;
	right: 0.8rem;
}
.six .box6{
	width: 4.5rem;
	height: 1.5rem;
	background: url('../img/phpzw6.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 7.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.six p{
	font-size: 0.36rem;
	line-height: 1.7rem;
	margin-left: 1.4rem;
}
/* 06结束 */

/* 07开始 */
.seven{
	width: 100%;
	height: 10.58rem;
	background: #1B1D32;
	position: relative;
}
.seven .ti{
	width: 100%;
	height: 2.1rem;
	background: white;
	position: relative;
	text-align: center;
	line-height: 2.1rem;
	margin-bottom: 0.35rem;
}
.seven .ti h1{
	font-size: 0.54rem;
	font-weight: 900;
	color: black;
	position: absolute;
	top: 0.1rem;
	left: 4rem;
}
.seven .ti h1 span{
	font-size: 0.5rem;
	color: black;
	font-weight: 800;
}
.seven .ti .tu1{
	width: 0.9rem;
	height: 0.9rem;
	background: url('../img/07.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.7rem;
	left: 2.5rem;
}
.seven .ti .tu2{
	width: 1.6rem;
	height: 1.3rem;
	background: url('../img/titleL.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.4rem;
	left: 3rem;
}
.seven .ti .tu3{
	width: 1.7rem;
	height: 0.2rem;
	background: url('../img/titleR.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.5rem;
	left: 7rem;
}
.seven .zi{
	width: 8.32rem;
	height: 4.25rem;
	border: 0.04rem solid #FFD300;
	position: absolute;
	top: 3.65rem;
	right: 0.85rem;
}
.seven .tu{
	width: 2.77rem;
	height: 4.54rem;
	background: url('../img/phpren.png') 0 0 no-repeat;
	background-size: cover;
	position: absolute;
	top: 3.4rem;
}
.seven .zi li{
	width: 90%;
	height: 0.82rem;
	border-bottom: 0.04rem dashed #FFD300;
	margin: 0 auto;
	text-align: center;
	line-height: 0.82rem;
	font-size: 0.38rem;
	color: white;
}
.seven .zi li:nth-child(5){
	border: 0;
}
.seven button{
	width: 4.35rem;
	height: 1.17rem;
	background: url('../img/btn.png') 0 0 no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: 6.2rem;
	border: 0;
	margin-left: 3.3rem;
	font-size: 0.4rem;
	color: white;
}
/* 07结束 */
.zhuan{
	width: 100%;
	height: 15rem;
	background: #F5F6FA;
	position: relative;
}
.zhuan .ti{
	width: 100%;
	height: 2.1rem;
	background: white;
	position: relative;
	text-align: center;
	line-height: 2.1rem;
	margin-bottom: 0.35rem;
}
.zhuan .ti h1{
	font-size: 0.54rem;
	font-weight: 900;
	color: black;
	position: absolute;
	top: 0.1rem;
	left: 3rem;
}
.zhuan .ti h1 span{
	font-size: 0.5rem;
	color: black;
	font-weight: 800;
}
.zhuan .ti .tu1{
	width: 0.9rem;
	height: 0.9rem;
	background: url('../img/08.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.7rem;
	left: 1.5rem;
}
.zhuan .ti .tu2{
	width: 1.6rem;
	height: 1.3rem;
	background: url('../img/titleL.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0.4rem;
	left: 2rem;
}
.zhuan .ti .tu3{
	width: 1.7rem;
	height: 0.2rem;
	background: url('../img/titleR.png') 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 1.5rem;
	right: 1rem;
}
.zhuan p{
	font-size: 0.38rem;
	margin-top: 1rem;
	margin-left: 1.75rem;
	font-weight: 600;
}
.zhuan .list{
	width: 100%;
	height: auto;
	padding-top: 1rem;
}
.zhuan .list .form1{
	width: auto;
	height: auto;
	margin-left: 1.75rem;
	font-size: 0.4rem;
	margin-bottom: 0.6rem;
}
.zhuan .list .form2{
	width: auto;
	height: auto;
	margin-left: 1.75rem;
	font-size: 0.4rem;
	margin-bottom: 0.6rem;
}
.zhuan .list .form3{
	width: auto;
	height: auto;
	margin-left: 1.75rem;
	font-size: 0.4rem;
	margin-bottom: 0.6rem;
}
.zhuan .list .form4{
	width: auto;
	height: auto;
	margin-left: 2rem;
	font-size: 0.4rem;
}
.zhuan .list select{
	width: 5.88rem;
	height: 0.85rem;
	border-radius: 3rem;
	border: 0;
	border: 1px solid #94EEFD;
	font-size: 0.44rem;
	outline: none;
}
.zhuan .list input{
	width: 5.88rem;
	height: 0.85rem;
	border-radius: 3rem;
	border: 0;
	border: 1px solid #94EEFD;
	font-size: 0.44rem;
	outline: none;
	text-indent: 0.5rem;
}
.zhuan .list span{
	font-size: 0.4rem;
	color: #FF1727;
}
.zhuan button{
	width: 4.35rem;
	height: 1.17rem;
	background: url('../img/btn.png') 0 0 no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: 0.6rem;
	border: 0;
	margin-left: 3.3rem;
	font-size: 0.4rem;
	color: white;
}
.zhuan .last{
	width: 100%;
	text-align: center;
	margin-top: 0.4rem;
	font-size: 0.28rem;
	margin-bottom: 0.2rem;
	color: #737373;
}
.zhuan .last1{
	width: 100%;
	text-align: center;
	font-size: 0.28rem;
	margin-bottom: 0.2rem;
	color: #737373;
}
/* 专享结束 */
.part{
	width: 100%;
	height: 1.35rem;
	background: #e7e7e7;
	position: fixed;
	bottom: 0;
	z-index: 1000;
}
.part1{
	width: 3.2rem;
	height: 1.35rem;
	background: #e7e7e7;
	text-align: center;
	float: left;
}
.part1 .left{
	width: 0.55rem;
	height: 0.55rem;
	margin-top: 0.44rem;
	margin-left: 0.4rem;
	background-image: url('../img/qq.png');
	background-size: 0.5rem;
	background-repeat: no-repeat;
	float: left;
}
.part1 p{
	float: left;
	line-height:1.34rem;
	margin-left: 0.2rem;
	font-size: 0.34rem;
}
.part2{
	width: 4.35rem;
	height: 1.3rem;
	background: #ff8d12;
	box-shadow: 0px 0px 0.6rem #ff8d12;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: -0.1rem;
	border-radius: 1rem;
}
.part2 .left{
	width: 0.75rem;
	height: 0.65rem;
	margin-top: 0.4rem;
	margin-left: 0.85rem;
	background-image: url('../img/shouye6.png');
	background-size: 2.6rem;
	background-position: -1.8rem -6.2rem;
	float: left;
}
.part2 p{
	float: left;
	line-height: 1.35rem;
	margin-left: 0.08rem;
	color: white;
	font-size: 0.45rem;
}
.part3{
	width: 3.2rem;
	height: 1.35rem;
	background: #e7e7e7;
	text-align: center;
	float: right;
}
.part3 .left{
	width: 0.55rem;
	height: 0.55rem;
	margin-top: 0.44rem;
	margin-left: 0.4rem;
	background-image: url('../img/shouye6.png');
	background-size: 2.4rem;
	background-position: -1.8rem -6.3rem;
	float: left;
}
.part3 p{
	float: left;
	line-height: 1.35rem;
	margin-left: 0.2rem;
	font-size: 0.34rem;
}